<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head', {title: title}) %>

<body>
    <%- include('partials/header') %>

    <div class="content-details-container">
        <h1>Details:</h1>

        <% if (message != undefined) { %>
            <div class="details-container">
                <p>Message: <%= message.text %></p>
                <p>Sent By: <%= message.user %></p>
                <p>Time: <%= message.date.toLocaleString() %></p>
            </div>
        <% } %>
    </div>

    <%- include('partials/footer') %>
</body>
</html>